body {
  background-color: red;
    background-image: url(http://wallpaperswa.com/thumbnails/detail/20130612/nintendo%20video%20games%20nes%20game%20console%20gameboy%20retro%20games%20blue%20background%20game_wallpaperswa.com_17.jpg);
}

h3{text-indent:150px; color:purple;
}
h4{text-indent:400px; color:purple;font-size:20px;
}
h5{text-indent:650px; color:purple;font-size:20px;
}
h6{text-indent:900px; color:purple; font-size:20px;
}
